---
import Layout from "../layouts/Layout.astro";
---

<script>
    const h1 = document.querySelector("h1");

    const textarea = document.querySelector("textarea");
    textarea.addEventListener("input", () => {
        h1.innerText = `${
            textarea.value
                .trim()
                .split(" ")
                .filter(function (n) {
                    return n != "";
                }).length
        } words ${textarea.value.length} characters`;
    });
</script>
<Layout title="Counter">
    <main class="flex w-screen h-screen bg-[#070725]">
        <div class="w-11/12 max-w-4xl mx-auto mt-40">
            <h1 class="text-4xl font-bold text-white">0 words 0 characters</h1>
            <textarea
                class="w-full h-40 p-2 mt-2 border border-white border-opacity-1 rounded-md text-[10pt] bg-white bg-opacity-10 text-white focus:outline-none"
            ></textarea>
            <p class="text-white">
                Honors: 100 characters
                Activites:
                 - Position/Leadership description: 50 characters
                 - Organization Name: 100 characters
                 - Description: 150 characters
                Personal Statement: 650 words
                Additional Information: 650 words
            </p>
        </div>
    </main>
</Layout>
