---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jaden Hou">
    <main class="flex items-center w-screen h-screen">
        <div class="w-11/12 max-w-lg mx-auto">
            <h1 class="text-4xl font-bold">Jaden Hou</h1>
            <p>
                Hi, I'm Jaden and I'm a student in the <span
                    class="hover:text-green-500 transition-colors"
                    >Global Ecology</span
                > magnet program @ <span
                    class="hover:text-amber-300 transition-colors"
                    >Poolesville High School</span
                >.
                <br /><br />
                You find me at
                <br />
                <span class="font-mono rounded-md"
                    >jadenhou19 <span class="text-purple-500 brack">[at]</span> gmail
                    <span class="text-purple-500 brack">[dot]</span> com</span
                >
                <br />
                or here:
                <br />
                <div class="flex gap-2">
                    <a
                        href="https://www.linkedin.com/in/jaden-hou"
                        target="_blank"
                        class="link">LinkedIn</a
                    >
                    <a
                        href="https://www.instagram.com/houjaden/"
                        target="_blank"
                        class="link">Instagram</a
                    >
                    <a
                        href="https://github.com/InternetRamen"
                        target="_blank"
                        class="link">GitHub</a
                    >
                </div>
            </p>
            
            <script
                src="https://widgets.tree-nation.com/js/widgets/v1/widgets.min.js?v=1.0"
                is:inline
            ></script>
            <div id="tree-nation-offset-website" class="mt-2"></div>
            <script>
                TreeNationOffsetWebsite({
                    code: "650f6383d0173",
                    lang: "en",
                    theme: "light",
                }).render("#tree-nation-offset-website");
            </script>
        </div>
        <div class="absolute bottom-0 left-1/2 -translate-x-1/2 font-mono text-sm">
            JOHN 3:16
        </div>
    </main>
</Layout>
<style>
    .link {
        @apply after:w-full after:bg-purple-500 text-purple-500 after:h-0 after:block after:absolute after:bottom-0 after:-z-10 relative hover:after:h-6 hover:text-white after:transition-all transition after:duration-300;
    }
    .brack {
        @apply after:w-full after:h-1 after:absolute relative after:bg-purple-500 after:top-0 after:left-0 after:-translate-y-2 hover:after:translate-y-5 after:block after:opacity-0 hover:after:opacity-100 after:transition-all duration-300;
    }
</style>
<script is:inline>
    const links = document.querySelectorAll("a");
    links.forEach((link) => {
        link.addEventListener("click", () =>
            umami.track(`clicked ${link.textContent}`)
        );
    });
</script>
