---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <main class="flex items-center w-screen h-screen">
        <div class="w-11/12 max-w-lg mx-auto">
            <h1 class="text-4xl font-bold">Jaden Hou</h1>
            <p>
                Hi, I'm Jaden and I'm a student in the Global Ecology magnet
                program @ Poolesville High School.
                <br /><br />
                You find me at
                <br />
                <span class="font-mono rounded-md"
                    >jadenhou19 <span class="text-purple-500">[at]</span> gmail <span
                        class="text-purple-500">[dot]</span
                    > com</span
                >
                <br />
                or here:
                <br />
                <a href="https://www.linkedin.com/in/jaden-hou" target="_blank" class="link">LinkedIn</a>
                <a href="https://www.instagram.com/houjaden/" target="_blank" class="link">Instagram</a>
            </p>
        </div>
    </main>
</Layout>
<style>
    .link {
        @apply text-blue-500 underline;
    }
</style>
